<p id="notice"><%= notice %></p>

<h1>Listing Guesses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>First guess</th>
      <th>Second guess</th>
      <th>Third guess</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guesses.each do |guess| %>
      <tr>
        <td><%= guess.name %></td>
        <td><%= guess.first_guess %></td>
        <td><%= guess.second_guess %></td>
        <td><%= guess.third_guess %></td>
      </tr>
    <% end %>
  </tbody>
</table>
