<% flash.each do |name, msg| %>
  <div class="field_with_errors">
    <%= content_tag :h3, msg, class: :field_with_errors %>
  </div>
<% end %>

<%= form_for(@guess) do |f| %>
  <% if @guess.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guess.errors.count, "error") %> prohibited this guess from being saved:</h2>

      <ul>
      <% @guess.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Your full/identifiable name (don't just put 'Steve' or someting like that):" %>
    <%= f.text_field :name, class: :radius %>
  </div>
  <div class="field">
    <%= f.label :first_guess, "First guess:" %>
    <%= f.text_field :first_guess, class: :radius %>
  </div>
  <div class="field">
    <%= f.label :second_guess, "Second guess:" %>
    <%= f.text_field :second_guess, class: :radius %>
  </div>
  <div class="field">
    <%= f.label :third_guess, "Third guess (go for something silly!):" %>
    <%= f.text_field :third_guess, class: :radius %>
  </div>
  <div class="field">
    <%= label :secret_password, "The Secret Password...", for: :secret_password %>
    <%= password_field :secret, :password, class: :radius %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Guess!", class: [:radius, :button] %>
  </div>
<% end %>
